apiVersion: apps/v1
kind: Deployment
metadata:
  name: 2283110-tp4-maintenance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: 2283110-tp4-maintenance
      tier: backend
  template:
    metadata:
      labels:
        app: 2283110-tp4-maintenance
        tier: backend
    spec:
      containers:
        - name: api
          image: ghcr.io/Nchargui/todo-app-jdbc-spring:$(git rev-parse --short HEAD)
          ports:
            - containerPort: 8080
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
          volumeMounts:
            - name: data-storage
              mountPath: /data
      volumes:
        - name: data-storage
          persistentVolumeClaim:
            claimName: app-pvc
